<ion-header>

  <ion-navbar>
    <ion-title>Stats</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding>
  Biggest posters : 
  <ion-list>
      <ion-item *ngFor="let roompost of big_poster">
          <h2>Room {{ roompost.room_name }}</h2>
          <p>{{ roompost.toShow }}</p>
      </ion-item>
  </ion-list>
  Online Users : {{connected_users}}
    <ion-list>
        <ion-item *ngFor="let user of online_users">
            <p>{{ user }}</p>
        </ion-item>
    </ion-list>
  Offline Users : 
    <ion-list>
        <ion-item *ngFor="let user of offline_users">
            <p>{{ user }}</p>
        </ion-item>
    </ion-list>
    <!-- <div class="bottom-button">
        <button ion-button block (click)="createRoom()">Create Room</button>
    </div> -->

</ion-content>